
.contenedor {
  margin-top: 15px;
  flex-direction: row;
  flex: 1;
  /* height: 45vw; */
}

.sucursal{
  flex-direction: column;
  margin-bottom: 15px
}


/* Flexbox */
.contenedor {
  display: flex; /*flex se aplica siempre sobre el elemento padre.*/
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-content: space-evenly; */
  align-items: center;
  margin-bottom: 5vw;
}

.item {
  border-color: rgb(255, 219, 206);
  color: rgb(255, 219, 206);
  font-size: 2rem;
}

.parrafoMapa{
  margin-top: 2vm;;
  margin-bottom: 2vm;;
  color:black;
  font-family: "Source Sans 3", sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' ;
  font-weight: 300;
  font-size: 0.9em;
}

.tituloMapa{
  margin-top: 1vw;;
  margin-bottom: 2vw;;
  color: black;
  font-family: "Lato", sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' ;
  font-weight: 400;
  font-size: 1.5em;
}

/*celulares, digamos: */
@media screen and (max-width: 600px) {
  .contenedor {
    flex-direction: column;
    width: 90vw;
    padding: 4vh;
    gap: 4vh;
    /* height: 460vw; */
  }
  .item {
    width: 70vw;
    height: 70vw;
  }
}

/*tablets, ponele: */
@media only screen and (min-width: 600px) {
  .item {
    width: 33vw;
    height: 33vw;
  }
}

/*Desktops, por ahí: */
@media only screen and (min-width: 1280px) {
  .item {
    width: 40vw;
    height: 40vw;
  }
}

